<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.towatt.charge.recodenote">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 添加操作振动器的权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".application.SampleApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FolderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:process=":remote" />

        <activity
            android:name=".ClockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClockActivity1"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".receiver.BootAlarm"
            android:process=":remote">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.AutoBoot"
            android:process=":remote">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.BootScheduleService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.BootScheduleServiceCopy"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.NotificationService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".service.MusicPlayerService" />

        <activity
            android:name=".PlayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.KeepLiveReceiver">
            <intent-filter>
                <action android:name="com.action.keepLive" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.DownloadDialogActivity"
            android:theme="@style/MyDialogStyleBottom"
            android:screenOrientation="portrait"
            ></activity>

        <service android:name=".service.DownLoadService"
            android:enabled="true"
            android:exported="true"
            ></service>
    </application>

</manifest>